h1{
    	text-align: center;
    	color:#ffffff ;
    	padding:1rem 10rem;
    	background: #bc8f8f;
}

h2{
	color:#db7093 ;
}
h3{
	color:#696969
}
h4{
	color:#db7093
}
h5{
	color:#db7093
}
h6{
	color:#bc8f8f
}